:root{
    --dark-magenta:hsl(300, 43%, 22%);
    --soft-pick:hsl(333, 80%, 67%);
    --dark-greyish-magenta:hsl(303, 10%, 53%);
    --light-greyish-magenta:hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --font-size: 15px;
}

html, body{
    background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'League Spartan', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1{
    text-align: center;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.service-slogan{
    text-align: center;
    line-height: 1.6;
    
}

.star-review{
    width: 90%;
    background-color: var(--light-greyish-magenta);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin:0 auto 20px auto;
    
}

.identity{
    display: flex;
}

img{
    border-radius: 50%;
    transform: scale(0.5);
    margin-right: 0px;
    margin-left: -10px;
 
}

.name-group{
align-self: flex-start;
}

.stars{
    margin-top: 10px;
}

.star-review-item{
    color: var(--dark-magenta);
    font-weight: 500;
}

.text-review{
    width: 80%;
    background-color:var(--dark-magenta);
    padding: 20px;
    margin:0 auto 20px auto;
    border-radius: 5px;
}

.name{
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 5px;
}

.buyer{
    margin: 0px;
    color: var(--soft-pick);
}

.review{
    color: var(--white);
    line-height: 1.6;
}


@media (min-width:780px){

    body{
        background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat;
    }

    .top-container{
        display:flex;
    }

    .intro-note{
        text-align: justify;
        width: 50%;
    }

    h1{
        text-align: justify;
        color: var(--dark-magenta);
        font-weight: 700;
        font-size: 50px;
        /* width: 70%; */
    }
    
    .service-slogan{
        text-align: justify;
        color: var(--dark-greyish-magenta);
        line-height: 1.6;
        
    }

    .star-review{

        background-color: var(--light-greyish-magenta);
        text-align: justify;
        border-radius: 5px;
        padding: 15px 40px;
        margin:0 auto 20px auto;
        width: auto;
    }

    .stars{
    display: inline;
    }

    .star2{
        margin-left: 20px;
    }

    .star-review-item{
        display: inline;
    }
    .buyers-review{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}